body{
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    padding: 0px;
    
    
}
header{
    position:sticky;
      }
.navigation 
{
    background-color:black;
    color: white;
    margin-top: 0px;
    list-style-type: none;
    padding-left: 0px;
    display: flex;
    justify-content:space-evenly;
}
.nav 
{
    background-color:black;
    color: white;
    margin-top: 0px;
    list-style-type: none;
    padding-left: 0px;
    display: flex;
    justify-content: space-between;
}

.navigation li
{
    list-style:none;
    margin: 10px;
}

li:hover
{
    background-color:yellow;
}

      
        
        .row {
          display: flex;
        }
        
       
        .column {
          flex: 33.33%;
          padding: 5px;
        }
        .halfpart {
            width:50%;
            display: table-cell;
          }

